<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vztrack.gls.com.vztrack_user">

    <uses-sdk tools:overrideLibrary="com.rm.rmswitch, com.livechatinc.inappchat" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Permission needed for rainbow -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Using for Video call on Speaker phone -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".application.RainbowApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo_vz_track"
        android:label="@string/title"
        android:largeScreens="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label, android:icon , android:allowBackup">
        <activity android:name=".activity.ForwardMsgActivity"
            android:screenOrientation="portrait">
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.UserManualActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PreApprovalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <activity
            android:name=".activity.SentMessageDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="@string/clever_tap_id" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="@string/clever_tap_tokan" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="activity.LoginScreenActivity" />
        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="ic_stat_vz" />

        <activity
            android:name=".activity.LoginScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Visiters_Details"
            android:label="@string/title_activity_visiters__details"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Notice_DetailsActivity"
            android:label="@string/title_activity_notice__details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NoInternetConnection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RatingActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Provider_Details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.SendNotice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SendMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WebviewActivity"
            android:parentActivityName=".activity.LoginScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Rainbow_CallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.livechatinc.inappchat.ChatWindowActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.ComplaintDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MarketPlacePlaceNewAd"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddSecondaryUser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".fcm.FirebaseMessagService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".fcm.FirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- &lt;!&ndash; FirebaseInstanceIdService performs security checks at runtime, -->
        <!-- no need for explicit permissions despite exported="true"             &ndash;&gt; -->
        <!-- <service android:name=".fcm.FirebaseInstanceIDService" android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- old one -->
        <!-- <service -->
        <!-- android:name=".fcm.FirebaseInstanceIDService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name=".activity.MarketPlaceAdDeatils"
            android:label="@string/title_activity_market_place_ad_deatils"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Rainbow_MessageActivity"
            android:label="@string/title_activity_message"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible|stateAlwaysHidden" />
        <activity android:name=".activity.Rainbow_Create_Group" />
        <activity android:name=".activity.Rainbow_Edit_Group" />
        <activity
            android:name=".activity.InvitationActivity"
            android:label="@string/title_activity_invitation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VisitorNotification"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>